@import "composants";
@import "loader";

/*** Général ***/

* {
    @include subtitle;
    margin: 0;
    line-height: normal;



}

body {
    display: flex;
    justify-content: center;

    .main-container {
        position: relative;
        width: 100%;
        min-width: 320px;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;

    }
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-right: 89px;

    .fa-arrow-left {
        margin: 42px;
    }

    .navbar__logo {
        width: 162px;
        height: 44px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 13px;
    }
}


.img-bg {
    object-fit: cover;
    width: 100%;
    height: 275px;
}



.Section__menu {
    background-color: $background;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    width: 100%;
    margin-top: -50px;
    padding-bottom: 40px;


    .menu__title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 32px;
        margin-bottom: 40px;
        padding-top: 32px;

        h1 {

            font-family: 'Shrikhand', serif;
            font-size: 1.75em;

        }

        .title__heart {
            margin: 0px 40px 21px 0px;


            i {
                position: absolute;
                font-size: 1.375em;
            }

            .pinkheart {
                opacity: 0;
                color: transparent;
                background-image: linear-gradient($second-color, $main-color);
                background-clip: text;
                -webkit-background-clip: text;
                transition: all 1s;

            }

            .pinkheart:hover {
                opacity: 1;

            }
        }
    }
}

hr {
    border: 2px solid $green;
    width: 40px;
}

@keyframes menu {
    0% {
        /*transform: translateY(-10vh);*/
        opacity: 1;
    }

    100% {
        /* transform: translateY(0px);*/
        opacity: 0;
    }
}

.animation1 {
    animation-delay: 0.1s;
}

.animation2 {
    animation-delay: 0.2s;
}

.animation3 {
    animation-delay: 0.3s;
}

.animation4 {
    animation-delay: 0.4s;
}

.animation5 {
    animation-delay: 0.5s;
}

.animation6 {
    animation-delay: 0.6s;
}

.animation7 {
    animation-delay: 0.7s;
}

.animation8 {
    animation-delay: 0.8s;
}

.animation9 {
    animation-delay: 0.9s;
}


.sous-menu {
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 40px;


    h2 {
        font-size: 1em;
        font-weight: 300;
        padding-bottom: 5px;
    }

    .card {
        position: relative;
        background-color: white;
        border-radius: 15px;
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 12px 15px;
        box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        opacity: 1;
        /*rajouter*/
        animation-name: menu;
        animation-duration: 3000ms;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;


        &:hover .card__check {
            transform: translateX(-4rem);

        }

        &:hover .card__price {
            transform: translateX(-4rem);
            padding: 0 0 0 15px;
        }

        &:hover .subtitle {
            padding: 5px 60px 0 0;
        }

        .card__content {
            width: 100%;
            white-space: nowrap;

            h2 {
                font-size: 1.125em;
                font-weight: 500;
            }

            .subtitle {
                overflow: hidden;
                text-overflow: ellipsis;
            }



            .card__txt {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;



                p {
                    font-size: 0.938em;
                    font-weight: 300;

                }

                .card__price {
                    font-size: 0.938em;
                    font-weight: 700;
                    transition: all 1s;

                }
            }


        }
    }


}


.card__check {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    background-color: $green;
    height: 74px;
    width: 60px;
    margin-right: -5rem;
    transition: all 1s;

    i {
        background-color: white;
        color: $green;
        padding: 5px;
        border-radius: 50%;
        position: absolute;

    }
}


.button {
    display: flex;
    justify-content: center;
}

.btn {
    height: 50px;
    width: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 0;
    background: linear-gradient($second-color, $main-color);
    color: white;
    @include subtitle;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 1s;

    &:hover {
        opacity: 0.9;
        box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    }
}


footer {

    .footerbar {
        background-color: $grey;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
        padding-left: 25px;
        padding-bottom: 22px;

        a {
            padding-bottom: 7px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
        }

        .footerbar__link {
            display: flex;
            flex-direction: column;
        }

        h2 {
            @include titlelogo;
            color: white;
            font-size: 1.125em;
            font-style: normal;
            margin-bottom: 16px;
            margin-top: 22px;
            padding-right: 40px;
        }
    }
}

/*Partie Responsive*/
/*Tablette*/
@media (min-width: 767.98px) {
    .main-container {
        min-width: 768px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .Section__menu {
        margin: -50px 96px 0 96px;
        padding: 0px 105px 40px 105px;
        width: auto;


        .menu__title {
            justify-content: center;
            gap: 24px;
        }
    }

    footer {
        .footerbar {
            flex-direction: row-reverse;
            justify-self: flex-start;
            align-items: center;
            padding: 60px 25px 20px;
            gap: 16px;



            .footerbar__link {
                flex-direction: row;
                gap: 16px;
                padding-top: 12px;
                text-align: center;

                a:nth-child(2) {
                    padding-right: 45px;
                }

                a:nth-child(4) {
                    padding-right: 45px;
                }
            }
        }

    }
}

/*Tablette*/
@media (min-width: 1025px) {
    .main-container {
        min-width: 1025px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .Section__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: -50px 190px 0 190px;
        padding: 0 200px 40px;

    }

}